* {
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
    
}
body {
	background-color: #FFD95A !important;
	color: #4C3D3D;
}

main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 2rem 1.5rem;
}
a:link,
a:visited {
  color: #4C3D3D;
}
a:focus,
a:hover,
a:active {
  color: #FFF7D4;
}
a {
  text-decoration: none;
  color: #FFF7D4;
}
.nav-bar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  
}
nav ul {
  margin: 0;
  padding: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  }
nav ul li a {
  padding: 0.5em 1em;
  margin: 0.5em;
  }
.our-team-text{
  color: #4C3D3D;
}

#btn-link{
    background-color:#C07F00;
    color: #4C3D3D;
    padding: 10px;
    font-size:15px;
    font-family: sans-serif;
    text-decoration: none;
    color: #FFF7D4;
}
